<div class="example-button-container">

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let card of cardList">
      <app-card [card]="card">
        <div card-content>
          <p>
            hasdhais ahsiudhaisdhiaushdiua iuahsidu hais d iaushdiuashdiuahs di
            hasdhais ahsiudhaisdhiaushdiua iuahsidu hais d iaushdiuashdiuahs di
            hasdhais ahsiudhaisdhiaushdiua iuahsidu hais d iaushdiuashdiuahs di
            hasdhais ahsiudhaisdhiaushdiua iuahsidu hais d iaushdiuashdiuahs di
          </p>
        </div>
    
        <div card-actions>
          <button mat-button>Do it!</button>
          <button mat-button>Archive</button>
        </div>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>



  <button class="todos-add-btn" mat-fab color="primary" aria-label="Add todo icon" (click)="openFormDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>